
<div ng-repeat="column in vm.columns">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div ng-repeat="provider in column">
      <div class="row">
        <div class="col-3">
          <img class="provider-post-image" ng-src="{{provider.image}}" width=100 height=100 />
        </div>
        <div class="col-9" >
          <div class="well" id="padding-post-name">
            <div class="provider-post">
              <div class="row">
                <a href="/+{{provider.username }}">
                  {{provider.username }}
                </a>


              </div>
              <div class="provider-wishlist-heart">
              <label>4/5</label>
              <span class="glyphicon glyphicon-heart" style="color:blue"></span>
               <br/>
             </div>
              <div class="row" name="provider-post-tagline">
              {{provider.tagline}}
            </div>
            <div class="row" name="provider-post-tagline">
              <div ng-repeat="pic in vm.postpics[provider.username]">
                 <img class="provider-sample-pic" ng-src="{{pic}}" width=80 height=80> </img>
              </div>
          </div>
          </div>
        </div>
      </div>

      </div>

    </div>
  </div>
</div>

<div ng-hide="vm.columns && vm.columns.length">
  <div class="col-sm-12 no-providers-here">
    <em>There are no providers here.</em>
  </div>
</div>
